@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;1,300&display=swap');
.sheader {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    background-color: rgb(235, 199, 16);
    letter-spacing: 2px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 5px;
    
    border-radius: 10px;
    box-shadow: 7px 7px 10px rgb(185, 178, 178);
  }

  .logo {
    position: absolute;
    font-size: 30px;
    top: 0%;
    margin-left: 100px;
    text-transform: capitalize;
    left:48%;
  }
  
   .logo a {
    color:rgb(233, 50, 50);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
   
  }
  
   .logo a span {
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
    display: block;
    text-align: center;
  }
  .log {
    font-size: 17px;
    margin-top: 40px;
    width: 100%;
    padding: 10px;
    margin-top: -3px;
    background-color: red;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    box-shadow: 2px 2px 2px wheat;
    
  }
  .log:hover{
    box-shadow: 5px 3px 8px rgb(52, 51, 51);
  }
  